#target-image-container
{
    text-align: center;
}
#target-image
{
    width:   80%;
    height: auto;
}
#palette
{
    display: flex;
    height: 100px;
}
.color
{
    display: block;
    flex-grow: 1;
    width: 100px;
}
